<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item brand-text" routerLink="/">
        <span>Metroid Prime Randomizer</span>
      </a>
      <div class="navbar-burger burger" [ngClass]="{ 'is-active': getShowNav() }" (click)="setShowNav(!getShowNav())">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu" [ngClass]="{ 'is-active': getShowNav() }">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button discord-button" href="http://discord.gg/WWGcay6" target="_blank">
                <span class="icon">
                  <fa-icon [icon]="faDiscord" size="lg"></fa-icon>
                </span>
                <span>Join Our Discord</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
