// Import bootstrap
@import '~bulmaswatch/darkly/_variables';
// @import '_overrides';
@import '~bulma/bulma';
@import '~bulmaswatch/darkly/_overrides';

html {
  overflow: auto;
}

html.has-navbar-fixed-top, body.has-navbar-fixed-top {
  padding-top: 3.75rem;
}

.video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
  }
}

.button.discord-button {
  background-color: #7289da;
  color: white;
  border-color: transparent;
}
