<section class="hero is-info is-medium has-bg-img" [ngStyle]="heroStyle">
  <div class="hero-body">
    <div class="container">
      <div class="has-text-centered">
        <h1 class="title is-1">Metroid Prime Speedrunning</h1>
        <a class="button is-large discord-button" href="http://discord.metroidprime.run" target="_blank">
          <span class="icon">
            <fa-icon [icon]="faDiscord" size="lg"></fa-icon>
          </span>
          <span>Join Our Discord</span>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="hero is-small">
  <div class="hero-body">
    <div class="container">
      <p class="title is-2 has-text-centered">World Records</p>
      <table class="table">
        <thead>
          <tr>
            <th>Game</th>
            <th>Runner</th>
            <th>World Record</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of worldRecords">
            <td><a [routerLink]="'/game/' + record.gameAbbreviation">{{ record.gameTitle }}</a></td>
            <td>{{ record.runner }}</td>
            <td>{{ record.time }}</td>
            <td><a [href]="record.video" target="_blank">{{ getLinkText(record.video) }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>