@import "~bulma/sass/utilities/mixins";

.hero {
    .hero-body {
        .title {
            font-size: 32px;
            font-weight: 700;
        }
    }
}

@media screen and (min-width: $tablet + 1) {
    .hero-body {
        padding: 1.5rem;
    }
}
