@import "~bulma/sass/utilities/mixins";

.hero {
    .hero-body {
        .title {
            font-size: 32px;
            font-weight: 700;

            a:hover {
                text-decoration: underline;
            }
        }
    }
}

.hero.game-bg {
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: $tablet + 1) {
    .hero-body {
        padding: 1.5rem;
    }
}
