
<section class="hero is-link game-bg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://dummyimage.com/1920x1080/666/fff)">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-2 is-hidden-mobile">
          <div class="image">
            <img src="https://dummyimage.com/300x400/000/fff" />
          </div>
        </div>
        <div class="column">
          <h1 class="title">
            <a routerLink=".">{{ game.name }}</a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="tabs is-centered">
  <ul>
    <li *ngFor="let tab of tabs; let i = index" [ngClass]="{'is-active': selectedTab === i}" (click)="selectedTab = i">
      <a>{{ tab }}</a>
    </li>
  </ul>
</div>
<div class="section">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>