<div class="container article-container">
    <h1 class="title">{{ getArticle().title }}</h1>
    <p class="subtitle">Last updated on {{ getArticle().last_updated_date | date:'MMMM d, y' }} by
        {{ getArticle().last_updated_user.displayname }}</p>
    <div *ngFor="let section of getArticle().content" class="content">
        <markdown [data]="section.markdown" *ngIf="section.type === getTypes().markdown"></markdown>
        <div class="video-container" *ngIf="section.type === getTypes().youtube">
            <iframe width="560" height="315" [src]="getTrustedYouTubeUrl(section.youtubeId)" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>