<div class="section">
  <div class="container">
    <h1 class="title has-text-centered">{{ getTitle() }}</h1>
    <form [formGroup]="articleForm">
      <div class="field">
        <label class="label">Category</label>
        <div class="select">
          <select formControlName="category">
            <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
          </select>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input class="input" type="text" formControlName="title">
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Slug</label>
            <div class="control">
              <input class="input" type="text" [value]="articleForm.get('slug').value" disabled>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="field" formArrayName="content" *ngFor="let section of articleForm.get('content').controls; let i = index;">
        <div [formGroupName]="i">
          <p class="label">Section {{ i + 1 }}</p>
          <div class="field">
            <label class="label">Type</label>
            <div class="control">
              <div class="select">
                <select formControlName="type">
                  <option *ngFor="let type of types" [value]="type.value">{{ type.text }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field" *ngIf="articleForm.controls.content.controls[i].controls.type.value === typeEnums.markdown">
            <label class="label">Markdown</label>
            <div class="control">
              <div class="columns">
                <div class="column" style="height: 100%;">
                  <textarea class="textarea markdown-editor" formControlName="markdown"></textarea>
                </div>
                <div class="column">
                  <div class="box content is-block markdown-preview">
                    <markdown [data]="articleForm.controls.content.controls[i].controls.markdown.value" class="content"></markdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="field" *ngIf="articleForm.controls.content.controls[i].controls.type.value === typeEnums.youtube">
            <label class="label">YouTube ID</label>
            <div class="control">
              <input class="input" type="text" formControlName="youtubeId">
            </div>
          </div>
          <button class="button is-danger" (click)="deleteSection(i)" *ngIf="articleForm.get('content').controls.length > 1">Delete</button>
        </div>
        <hr>
      </div>
      <button class="button" (click)="addSection()">Add Section</button>
      <button class="button is-primary" (click)="onArticleSubmit()">{{ isEdit ? 'Update' : 'Create' }}</button>
    </form>
  </div>
</div>
