<div class="section">
  <div class="container">
    <div *ngIf="articlesByCategory.length > 0; then articles else noContent"></div>
    <ng-template #articles>
      <div class="columns">
        <div class="column is-2">
          <aside class="menu">
            <ul class="menu-list">
              <li *ngFor="let category of articlesByCategory">
                <a (click)="category.selected = category.selected ? false : true">{{ category.name }}</a>
                <ul *ngIf="category.selected">
                  <li *ngFor="let article of category.articles">
                    <a [routerLink]="['./' + article.name]" routerLinkActive="is-active">
                      {{ article.title }}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </aside>
        </div>
        <div class="column">
          <router-outlet></router-outlet>
        </div>
      </div>
    </ng-template>
    <ng-template #noContent>
      <p class="has-text-centered">We're sorry! This game doesn't have any articles yet. ☹️</p>
    </ng-template>
  </div>
</div>
