<div class="section">
  <div class="container">
    <div *ngIf="articlesByCategory.length > 0; then articles else noContent"></div>
    <ng-template #articles>
      <div class="columns">
        <div class="column is-2">
          <aside class="menu">
            <ul class="menu-list">
              <li *ngFor="let category of articlesByCategory">
                <a (click)="category.selected = category.selected ? false : true">{{ category.name }}</a>
                <ul *ngIf="category.selected">
                  <li *ngFor="let article of category.articles">
                    <a [routerLink]="['./' + article.name]" routerLinkActive="is-active">
                      {{ article.title }}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </aside>
          <a class="button is-primary" routerLink="../create-article">Create Article</a>
        </div>
        <div class="column">
          <div *ngIf="!hasChildRoute">
            <h2 class="title">Articles</h2>
            <p class="subtitle">You can read an article by selecting one from the left-hand menu.</p>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </ng-template>
    <ng-template #noContent>
      <div class="has-text-centered">
          <h2 class="title">We're Sorry!</h2>
          <p class="subtitle">This game doesn't have any articles yet. ☹️</p>
          <a class="button is-primary" routerLink="../create-article">Create Article</a>
      </div>
    </ng-template>
  </div>
</div>
