<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div *ngIf="isLoading">
          <span class="loader"></span>
        </div>
        <p *ngIf="!isLoading && newsItems.length === 0" class="has-text-centered">No news found.</p>
        <div class="card" *ngFor="let item of newsItems">
          <div class="card-content">
            <div class="media">
              <div class="media-content has-text-centered" style="overflow: hidden;">
                <p class="title is-3 article-title">{{ item.title }}</p>
                <p class="subtitle is-6 has-text-grey">{{ item.author }} on {{ item.submitted | date}}</p>
              </div>
            </div>
            <markdown [data]="item.content" class="content"></markdown>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>