<nav class="navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item brand-text" routerLink="/">
        Metroid Prime Speedrunning
      </a>
      <div class="navbar-burger burger" [ngClass]="{ 'is-active': showNav }" (click)="showNav = !showNav">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu" [ngClass]="{ 'is-active': showNav }">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/news" routerLinkActive="is-active">
          News
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" [ngClass]="{'is-active': rla.isActive}">
              Games
            </a>
            <div class="navbar-dropdown" routerLinkActive #rla="routerLinkActive">
              <a class="navbar-item" [routerLink]="'/game/' + game.value" *ngFor="let game of games">
                {{ game.name }}
              </a>
            </div>
          </div>
        <a class="navbar-item" href="https://chozopedia.wikia.com" target="_blank">
          Wiki
        </a>
      </div>
      <div class="navbar-end">
        <div *ngIf="user; then loggedIn else loggedOut"></div>
        <ng-template #loggedIn>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">{{ user.displayname }}</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" (click)="onLogoutClicked()">
                <span class="icon is-small">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                </span>
                Logout
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template #loggedOut>
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-link" routerLink="/login">Login</a>
              </p>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>