$listBorder: #dfdfdf;

ul#latest-speedruns {
    li {
        border-top: 1px solid $listBorder;
        padding-top: 10px;
        padding-bottom: 10px;

        &:last-child {
            border-bottom: 1px solid $listBorder;
        }

        p {
            margin-bottom: 3px;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }
}

#view-leaderboards {
    margin: 10px auto -10px;
}