<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          {{ registerForm.valid }}
          <div class="box">
            <h2 class="title is-size-4">Register an Account</h2>
            <form #registerForm="ngForm">
              <div class="field">
                <label class="label">Username</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="editedUser['name']" name="name" #name="ngModel" required [ngClass]="{ 'is-danger': name.invalid && (name.dirty || name.touched) }">
                </div>
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                  <p class="help is-danger" *ngIf="name.errors.required">A username is required.</p>
                </div>
              </div>
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input class="input" type="email" [(ngModel)]="editedUser['email']" name="email" #email="ngModel" required [ngClass]="{ 'is-danger': email.invalid && (email.dirty || email.touched) }">
                </div>
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                  <p class="help is-danger" *ngIf="email.errors.required">An email is required.</p>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input class="input" type="password" [(ngModel)]="editedUser['password']" name="password" #password="ngModel" required [ngClass]="{ 'is-danger': password.invalid && (password.dirty || password.touched) }">
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                  <p class="help is-danger" *ngIf="password.errors.required">Please enter a password.</p>
                </div>
              </div>
              <div class="field">
                <label class="label">Confirm Password</label>
                <div class="control">
                  <input class="input" type="password" [(ngModel)]="editedUser['confirmPassword']" name="confirmPassword" #confirmPassword="ngModel"
                    required [ngClass]="{ 'is-danger': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) }">
                </div>
                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                  <p class="help is-danger" *ngIf="confirmPassword.errors.required">Please confirm your password.</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
